body {
    background-color: #fafafa;
}

.fmi-header {
    padding: 10px;
}

.row>div {
    border: 1px solid #e6e6e6;
     border-radius: 3px;
}
#react-root
{
    border: 1px solid #e6e6e6;
}

/*  POST STYLES */

.article-wrapper {
    clear: both;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.user-avatar {
    float: left;
}

.user-names {
    float: left;
    margin-left: 10px;
}

.user-details {
    margin: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

.location {
    font-size: 12px;
}

.article-image {
    clear: both;
    margin-top: 10px;
}

.social-actions {
    margin-left: 10px;
    margin-top: 5px;
}

/*actions*/

.actions {
    height: 30px;
}

.actions a {
    margin-right: 10px;
    height: 30px;
}

.action-like {
    background-image: url("/assets/images/general/icons.png");
    background-position: -182px -357px;
    height: 4px;
    width: 24px;
    padding-left: 24px;
    padding-bottom: 3px;
}

.action-comment {
    background-image: url("/assets/images/general/icons.png");
    background-position: 0 -383px;
    height: 4px;
    width: 24px;
    padding-left: 24px;
    padding-bottom: 3px;
}

.action-share {
    background-image: url("/assets/images/general/icons.png");
    background-position: -312px -357px;
    height: 4px;
    width: 24px;
    padding-left: 24px;
    padding-bottom: 3px;
}

/*end of actions*/

.fmi-responsive {
    display: block;
    max-width: 100%;
    height: auto;

}

.comment {
    background: 0 0;
    border: none;
    color: #686565;
    font-size: 14px;
}
.allcomments
{
margin-left: 10px;
    background: 0 0;
    border: none;
    color: #c48c8c;
    font-size: 14px;
}

.add-comment {
    background: 0 0;
    border: none;
    color: #262626;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: none;
    padding: 0;
    resize: none;
    margin-top: 5px;
    overflow: hidden;
}
.home-link
{
    padding-top: 10px;
    padding-bottom: 10px;
}